<div class="container">
    <h1>
        variables html #
    </h1>
    <form (ngSubmit)="obtenerFormulario(formularioUsuario)" #formularioUsuario="ngForm">
        <h4>Estado Formulario</h4>
        <h5>
            <pre>
            valid: {{formularioUsuario.valid}}
            invalid {{formularioUsuario.valid}}
            dirty: {{formularioUsuario.dirty}}
            touched: {{formularioUsuario.touched}}
            untouched: {{formularioUsuario.untouched}}
        </pre>
        </h5>
        <div class="form-group">

            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                [(ngModel)]="email" name="email" placeholder="ejemplo" minlength="3" required
                pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" #campoEmail="ngModel">
            {{campoEmail.dirty}}
            <h4>
                Estados del campo email
            </h4>
            <pre>
                valid: {{campoEmail.valid}}
                invalid {{campoEmail.valid}}
                dirty: {{campoEmail.dirty}}
                touched: {{campoEmail.touched}}
                untouched: {{campoEmail.untouched}}
            </pre>
            {{campoEmail.errors | json}}

            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="(campoEmail.errors)
    && campoEmail.dirty === true">
            <p *ngIf="campoEmail.errors.required">
                Campo email requerido
            </p>
            <p *ngIf="campoEmail.errors.minlength">
                minimo 3
            </p>
            <p *ngIf="campoEmail.errors.pattern">
                No es email
            </p>

        </div>



        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="password" class="form-control" id="exampleInput" aria-describedby="emai"
                [(ngModel)]="contrasena" name="contrasena" placeholder="****" minlength="4" required
                #campoContrasena="ngModel">
        </div>


        <button [disabled]="formularioUsuario.invalid" type="submit" class="btn btn-primary">
            Submit</button>
    </form>

</div>