<p>perfil-usuario works!</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            <img src="https://api.adorable.io/avatars/180/green .png" alt="" height="200px" width="200px">
            <br></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">

    </div>
    <div class="row" style="margin-top: 1.screm;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><br>
            <button class="btn btn-info btn-block" [routerLink]="['/usuario','Admin','info']">
                Info
            </button>
        </div>

    </div>
</div>