<p>perfil-usuario works!</p>
<div class="container">
    <div class="row" style="margin-bottom: 2rem; margin-top: 6rem;">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
            <img src="https://w7.pngwing.com/pngs/67/206/png-transparent-squamish-valley-music-festival-independent-music-indie-rock-alternative-rock-design-alternative-rock-music-festival-music.png"
                style="width: 285.2px; height: 248px; margin: 0px;">
        </div>
        <div class="col-sm-4">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            <button type="button" class="btn btn-secondary">
                boton
            </button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>